@import "../../styles/main";

.popup {
	@include centerY;
	text-align: center;
	background-color: $color-grey-dark;
	color: $color-grey-light;
	border-radius: 8px;
	margin: 1.5rem 0;

  	@media all and (max-width: 724px) {
	    max-width: 25rem;
	    margin: 0;
	    padding: 0;
	} 

	&__title {
		width: 96%;
		font-size: 1.4rem;
		font-weight: bolder;
		color: $color-pri-3;
		border-bottom: 2px solid $color-pri-3;
		padding-bottom: 1rem;
		margin-top: .5rem;

		@media all and (max-width: 724px) {
		    font-size: 1.2rem;
		}
	}

	&__img {
		width: 15rem;
		margin: 1rem 0;
		border: 2px solid $color-pri-3;
		border-radius: 6px;
		box-shadow: .3rem .3rem 1rem .1rem rgba($color-pri-3, .4);	
		border-radius: 8px;
	}

	&__name {
		display: flex;
		width: 100%;
		flex-direction: column;
		text-align: left;
		text-transform: uppercase;
	}

	&__brand {
		font-size: 1.6rem;
		font-weight: bold;
		padding: .3rem 0 0 .3rem;

		@media all and (max-width: 724px) {
		    font-size: 1.2rem;
		}
	}

	&__model {
		color: $color-grey !important;
	}

	&__spec {

		@include spaceBetweenX;
		width: 100%;
		border-bottom: 1px solid $color-pri-3;
		padding: 1rem 0;

		& > * {
			font-size: 1.2rem;
			font-weight: bolder;	
			padding: .3rem;
			text-transform: uppercase;
			color: $color-pri-3;

			@media all and (max-width: 724px) {
			    font-size: 1rem;
			}
		}
	}

	span {
		font-size: 1rem;
		font-weight: normal;
		text-transform: none;
		color: $color-grey-light;

		@media all and (max-width: 724px) {
		    font-size: .9rem;
		}
	}
	
}

.error {
	@include centerY;
	max-width: 10rem;
	color: $color-pri-4;
	font-size: 1.2rem;
	font-weight: bolder;
}