@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeRightIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: .5;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRightOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: .5;
    transform: translateX(50%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}