//colorsxxx`
$color-pri-1: #FFF5C0;
$color-pri-3: #FDD7AA;
$color-pri-4: #FFA8A8;
$color-pri-5: #FF8585;
$color-blue: #0F00FF;
$color-blue-dark: #09009B;
$color-green-light: #9Eff8F;
$color-green: #7ED56F;
$color-green-dark: #55c57a;
$color-grey-lightest: #f9f9f9;
$color-grey-light: #eee;
$color-grey: #bbb;
$color-grey-dark: #222;
$color-white: #fff;
$color-black: #000;

/* 
#FF4646
#FF8585
#FFB396
#FFF5C0

#09009B
#0F00FF
#D98C00
#FFA400

#C85C5C
#F9975D
#FBD148
#B2EA70

#125C13
#3E7C17
#F4A442
#E8E1D9
 */