@import "./styles/main";

.app {
	min-height: 100vh;
	background-image: linear-gradient(to bottom, rgba($color-grey-dark, .7), rgba($color-grey-dark, .6)), url(./assets/earth.jpg);
	background-size: cover;
}